src/wsdl/ose-gw1.efact.pe_80/ol-ti-itcpe/billService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:tns="http://service.sunat.gob.pe" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sunat.gob.pe">
<types>
<xsd:schema>
<xsd:import namespace="http://service.sunat.gob.pe" schemaLocation="http://ose-gw1.efact.pe:80/ol-ti-itcpe/billService?xsd=1"/>
</xsd:schema>
</types>
<message name="sendSummary">
<part name="fileName" type="xsd:string"/>
<part name="contentFile" type="xsd:base64Binary"/>
</message>
<message name="sendSummaryResponse">
<part name="ticket" type="xsd:string"/>
</message>
<message name="sendPack">
<part name="fileName" type="xsd:string"/>
<part name="contentFile" type="xsd:base64Binary"/>
</message>
<message name="sendPackResponse">
<part name="ticket" type="xsd:string"/>
</message>
<message name="getStatusCdr">
<part name="rucComprobante" type="xsd:string"/>
<part name="tipoComprobante" type="xsd:string"/>
<part name="serieComprobante" type="xsd:string"/>
<part name="numeroComprobante" type="xsd:int"/>
</message>
<message name="getStatusCdrResponse">
<part name="document" type="xsd:base64Binary"/>
</message>
<message name="sendBill">
<part name="fileName" type="xsd:string"/>
<part name="contentFile" type="xsd:base64Binary"/>
</message>
<message name="sendBillResponse">
<part name="applicationResponse" type="xsd:base64Binary"/>
</message>
<message name="getStatus">
<part name="ticket" type="xsd:string"/>
</message>
<message name="getStatusResponse">
<part name="status" type="tns:statusResponse"/>
</message>
<portType name="BillService">
<operation name="sendSummary" parameterOrder="fileName contentFile">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="urn:sendSummary" message="tns:sendSummary"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://service.sunat.gob.pe/BillService/sendSummaryResponse" message="tns:sendSummaryResponse"/>
</operation>
<operation name="sendPack" parameterOrder="fileName contentFile">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="urn:sendPack" message="tns:sendPack"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://service.sunat.gob.pe/BillService/sendPackResponse" message="tns:sendPackResponse"/>
</operation>
<operation name="getStatusCdr" parameterOrder="rucComprobante tipoComprobante serieComprobante numeroComprobante">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="urn:getStatusCdr" message="tns:getStatusCdr"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://service.sunat.gob.pe/BillService/getStatusCdrResponse" message="tns:getStatusCdrResponse"/>
</operation>
<operation name="sendBill" parameterOrder="fileName contentFile">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="urn:sendBill" message="tns:sendBill"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://service.sunat.gob.pe/BillService/sendBillResponse" message="tns:sendBillResponse"/>
</operation>
<operation name="getStatus">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="urn:getStatus" message="tns:getStatus"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://service.sunat.gob.pe/BillService/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
</portType>
</definitions>